<!DOCTYPE html>
<html>
  <head>
    <title>Tarefas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% tasks.forEach(function(task){ %>
      <%= task.desc %> <br />
    <% }) %>
  </body>
</html>
